body{
  background: #7E99FD; /* For browsers that do not support gradients */
  font-family: sans-serif;

}
header{
	text-align:center;
  background-color: white;
  border-radius: 5px;

}
footer{
  text-align:center;
  background-color: white;
  text-align:center;

}

section{
	text-align: center;
	background-color:white;
  border-radius: 5px;
  margin:5px;
  padding: 5px;
}

section >section> div {
	overflow-x:auto;
  padding: 5px;
}
a{
	text-align: center;
}


#clasificaciones{
  width:500px;
  margin: 10px auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
@media (min-width: 550px) {

  section
  {
    margin-left: 2em;
    margin-right: 2em;
  }
  #mvp{
      margin-bottom: 1em;
  }
  header{
    margin-left: 2em;
    margin-right: 2em;

  }
  footer{
    margin-left: 10em;
    margin-right: 10em;
  }
}